<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello turbo world</title>
</head>
<body>
    {% try %}
        {% if msg %}
            {{msg['error']}}
        {% end %}
        <form action="/qiandao">
            <label for="mobile">手机号：<input type="text" name="mobile" id="mobile"></label>
            <input type="submit" value="查询">
        </form>
    {% except %}
        <form action="/qiandao">
            <label for="mobile">手机号：<input type="text" name="mobile" id="mobile"></label>
            <input type="submit" value="查询">
        </form>
    {% end %}

</body>
</html>